{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>파이보</title>
</head>
<body>
<div class="container my-3">
    
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>번호</th>
            <th>추천</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if questions %}
        {% for question in questions %}
        <tr class="text-center">
            <td>{{ question.id}}</td>
            <td>
                <span class="badge badge-warning px-2 py-1">0</span>
            </td>
            <td class="text-left">
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>                
                <span class="text-danger small ml-2"></span>                
            </td>
            <td>테스터</td>  <!-- 글쓴이 추가 -->
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">질문이 없습니다.</td>
        </tr>
        {% endif %}

        </tbody>
    </table>

    <a href="#" class="btn btn-primary">질문 등록하기</a>
</div>

<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.js' %}"></script>
<script type='text/javascript'>

</script>

</body>
</html>